<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <title>Medical Cartel</title>
</head>
<body>
	<section class="section">
		<div class="container">
			<h1 class="title is-1"><%= title %></h1>

			<div class="columns is-vcentered">
				<div class="column is-2">
					<a class="button is-link" href="patient/emergency">Emergency</a>
				</div>
				<div class="column auto">
					Call for an emergency to your nurse
				</div>
			</div>
			<div class="columns is-vcentered">
				<div class="column is-2">
					<a class="button is-link" href="patient/motivation">Motivation</a>
				</div>
				<div class="column auto">
					Get some daily motivation from your nurse
				</div>
			</div>
			<div class="columns is-vcentered">
				<div class="column is-2">
					<a class="button is-link" href="patient/report">Report</a>
				</div>
				<div class="column auto">
					Fill out your health report for your nurse to view
				</div>
			</div>
			<div class="columns is-vcentered">
				<div class="column is-2">
					<a class="button is-link" href="patient/diagnosis">Diagnosis</a>
				</div>
				<div class="column auto">
					Figure out what disease you may have
				</div>
			</div>
		</div>
	</section>
</body>
</html>