<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<title>Medical Cartel</title>
</head>

<body>
	<section class="section">
		<div class="container">
			<form method="POST">
				<div class="field">
					<label class="label" for="username">Username:</label>
					<div class="control">
						<input class="input" type="text" name="username" placeholder="Text Input" />
					</div>
				</div>
				<div class="field">
					<label class="label" for="password">Password:</label>
					<div class="control">
						<input class="input" type="password" name="password" placeholder="Text Input" />
					</div>
				</div>
				<div class="control">
					<label class="label" for="accounttype">Account Type:</label>
					<div class="select">
						<select id="accounttype" name="accounttype">
							<option>Patient</option>
							<option>Nurse</option>
						</select>
					</div>
				</div>
				<div class="control">
					<input class="button is-link" type="submit" value="Submit" />
				</div>
			</form>
			<% if (locals.error) { %>
			<section class="section">
				<div class="container">
					<div class="notification is-danger">
						<%= error %>
					</div>
				</div>
			</section>
			<% } %>
		</div>
	</section>
</body>

</html>